body{
    background-color: rgb(67, 66, 66);
}
form {
    display: flex;
    background-color: rgb(249, 131, 131);
}

button{
    width: 10px;
    padding: 30px;
    background-image: url('../img/carrinho-de-compras\ \(1\).png') ;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 10px;
}

label{
    background-color: aqua;
    padding: 20px 200px;
}