*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: #434242;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
    

}
