*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Garante que o padding e a borda sejam incluídos no tamanho total do elemento*/
}

/*Estilizando corpo da página*/
body{
    font-family: Arial, sans-serif; /*Define a fonte padrão*/
    background-color: #434242; /*Define a cor de fundo da página*/
    display: flex; /*Usa flexbox para centralizar o conteúdo*/
    justify-content: center; /*Centraliza o container ao centro*/
    align-items: center; /*Centraliza todos os itens ao centro*/
}

form{
    background-color: #ff7e7e; /*Define a cor de fundo do formulário*/
    padding: 20px; /*Adiciona espaçamento interno ao formulário*/
    border-radius: 10px; /*Adiciona bordas arredondadas ao formulário*/
    box-shadow: 0 4px 10px #000000; /*Adiciona uma sombra suave ao formulário*/
    width: 500px; /*Define a largura do formulário*/
    border-radius: 25px; /*Adiciona bordas arredondadas ao formulário*/
}

h1{
    text-align: center; /*Centraliza o título do formulário*/
    margin-bottom: 20px; /*Adiciona espaçamento abaixo do título*/
    font-size: 30px; /*Define o tamanho da fonte do título*/
    color: #000000; /*Define a cor do texto do título*/
}
label{
    font-weight: bold; /*Deixa em negrito*/
    display: block; /*Faz ocupar a linha inteira*/
    margin-top: 10px; /*espaço acima*/
    margin-bottom: 5px; /*espaço abaixo*/
}   
input{
    width: 100%; /*Faz o input ocupar toda a largura do formulário*/
    padding: 10px; /*Adiciona espaçamento interno ao input*/
    margin-bottom: 15px; /*Adiciona espaçamento abaixo do input*/
    border-radius: 10px; /*Adiciona bordas arredondadas ao input*/
    border: none; /*Remove a borda do input*/    

}

#enviar{
    background-color: #cfcbcb; /*Define a cor de fundo do botão de envio*/
    padding: 10px; /*Adiciona espaçamento interno ao botão de envio*/
    width: 100%; /*Faz o botão ocupar toda a largura do formulário*/
    color: #000000; /*Define a cor do texto do botão de envio*/
    border: none; /*Remove a borda do botão de envio*/
    cursor: pointer; /*Adiciona um cursor de ponteiro ao passar o mouse sobre o botão de envio*/
    font-weight: bold; /*Deixa o texto do botão de envio em negrito*/  
}

#enviar:hover{
    background-color: #a7a4a4; /*Define a cor de fundo do botão de envio ao passar o mouse*/
}

